body {
    font-family: "Comfortaa", sans-serif;
    background-color: #272b30;
}

/* Header Section */
header img {
    height: 30vh;
    object-fit: cover;
}

/* Navbar Section */
nav {
    background-color: #3a497b !important;
    border-radius: 20px;
    margin-top: -30px;
    width: 75%;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.navbar-brand img {
    max-width: 40px;
}

.navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-nav .nav-link:hover {
    color: #09c;
}

.navbar-nav .nav-link.active {
    color: #09c;
}

/* Main Section  */
.card {
    cursor: pointer;
    filter: grayscale(0.7);
    transition: all 0.5s;
}

.card:hover {
    filter: grayscale(0);
    transform: scale(1.05);
}

.card-body h3 {
    font-size: 14px;
}

.card-body span {
    font-size: 12px;
    font-weight: 700;
    border-radius: 6px;
}

.card-body p {
    font-size: 14px;
}

.card-footer span {
    font-size: 10px;
    font-weight: 700;
    padding-inline: 7px;
    padding-block:  4px;
    background-color: #32383e;
    color: #fff;
    border-radius: 6px;
}

/* Single game's detail section */
.game-detail span {
    font-size: 12px;
    font-weight: 700;
    padding-inline: 7px;
    padding-block:  4px;
    border-radius: 6px;
}

/* Loader */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 43, 48, 0.89);
    z-index: 9999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;

  }
  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Media Quiries */

  @media (max-width:576px) {
    nav {
        width: 100%;
    }

    .navbar-brand span {
        font-size: 18px !important;
    }
  }